*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: rgb(68, 125, 216);
  border-radius: 7px;
}
.container{
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
  scroll-behavior: smooth;
}
.navbar{
  height: 70px;
  display: flex;
  align-items: center;
}
.logo{
  width: 50%;
  cursor: pointer;
  margin: 30px 0px;
}
.menu-icon{
    width: 50px;
    cursor: pointer;
    display: none;
    margin-right: -10px;

}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: rgb(68, 125, 216);
  border-radius: 7px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;

}
nav ul li a{
  text-decoration: none;
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 10px;
  border: 1px solid black transparent;
  transition: 0.4s ease;
}

nav ul li a:hover{
    color: rgb(0, 140, 255);
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.col-1 h2{
    font-size: 54px;
}
.col-1 h3{
    font-size: 30px;
    color: #575757;
    font-weight: 100;
    margin: 20px 0 10px;
}
.col-1 p{
    font-size: 16px;
    color: #505050;
    font-weight: 100;
}
.col-1 h4{
    margin: 30px 0;
    font-size: 20px;

}
.invitelink{
  text-decoration: none;
}
button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #151B8D,#357EC7);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}


button img{
    width: 30px;
    display: none;
}
button:hover img{
    display: block;
}
button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.button-3{
  background-color: #5865f2;
}

.col-1::after{
    content:'';
    width: 10px;
    height: 57%;
    background: linear-gradient( #151B8D, #357EC7);
    position: absolute;
    left: -40px;
    top: 8px;

}
.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
    -webkit-animation-name: col-2;
        animation-name: col-2;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes col-2 {
        0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        }
        100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        }
        }
        @keyframes col-2 {
        0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        }
        100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        }
        
        } 
      
.col-2 .jarvis{
    width: 50%;

}
.color-box{

    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#151B8D,#3BB9FF);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
}
.color-box h3{
    position: relative;
    text-align: center;
    top: 190px;
    left: 80px;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 25px;
    color: antiquewhite;
}

.grid{
  top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -300px;
  height: 100vh;
  overflow: hidden;
}
.container {
    width: 90%;
    max-width: 1260px;
    margin: 0 auto;
}
  .card_outer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    -webkit-animation-name: card_outer;
      animation-name: card_outer;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      }
      @-webkit-keyframes card_outer {
      0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      }
      100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
      }
      }
      @keyframes card_outer {
      0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      }
      100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
      }
      } 
  
  .card {
    top: -35px;
    background: linear-gradient(#46C7C7,#3B9C9C,#617C58);
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    min-height: 400px;
    text-align: center;
    color: #fff;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 
                0 2px 2px rgba(0, 0, 0, 0.1), 
                0 4px 4px rgba(0, 0, 0, 0.1), 
                0 8px 8px rgba(0, 0, 0, 0.1), 
                0 16px 16px rgba(0, 0, 0, 0.1);
  }
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
  }
  .card:after {
    opacity: 0;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
  }
  .card:hover:after {
    opacity: 1;
    transition: opacity calc(var(--d) * 1.5) var(--e);
  }
  .card:nth-child(1):before {
    width:128px; height:128px;
    left:30%; top:30%;
    background-image: url(./images/python.png)
  }
  .card:nth-child(2):before {
    width:128px; height:128px;
    left:30%; top:30%;
    background-image: url(./images/info.png);
  }
  .card:nth-child(3):before {
    width:128px; height:128px;
    left:30%; top:30%;
    background-image: url(./images/settings.png);
  }
  .card:nth-child(4):before {
    width:128px; height:128px;
    left:30%; top:30%;
    background-image: url(./images/code.png);
  }
  
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
  }
  .content > * + * {
    margin-top: 1rem;
  }
  
  .title {
    font-size: 25px;
    font-weight: bold;
    line-height: 35px;
  }
  
  .copy {
    font-size: 15px;
    font-style: italic;
    line-height: 25px;
  }
  
  .btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
  }
  .btn:hover {
    background-color: #0d0d0d;
  }
@media (hover: hover) and (min-width: 600px) {
.card:after{
    transform: translateY(0);
    }
.content {
    transform: translateY(calc(100% - 4.5rem));
    }
.content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }
.card:hover,.card:focus-within {
    align-items: center;
    }
.card:hover:before,.card:focus-within:before {
    transform: translateY(-4%);
    }
.card:hover:after,.card:focus-within:after {
    transform: translateY(-50%);
    }
.card:hover .content,.card:focus-within .content {
    transform: translateY(0);
    }
.card:hover .content > *:not(.title),.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
    }
  
.card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
    }
}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: -300px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }


.abtus h2{
  display: flex;
  justify-content: center;
  font-weight: 35;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 30px;
  color: rgb(31, 29, 29);
  margin-top: 50px;
} 

/* Developer cards */ 
.con{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin-left: 75px;
}
.grid-2{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin-top: -10px;
  margin-left: -50px;
}
.container-2{
  position: relative;
}
.container-2 .cards{
  position: relative;
  width: 320px;
  height: 400px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}
.container-2 .cards:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient( #151B8D, #357EC7);
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}
.container-2 .cards:hover:before{
  clip-path: circle(250px at 80% 20%);
}
.container-2 .cards:after{
  content: 'Devs';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255,0.04);
}
.container-2 .cards .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}
.container-2 .cards:hover .imgBx{
  top: 0%;
  transform: translateY(0%)
}
.container-2 .cards .imgBx img{
  position: absolute;
  top: 10%;
  left: 25%;
  width: 160px;
}
.container-2 .cards .contentBx{
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}
.container-2 .cards .contentBx h2{
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  color: #fff;
  
}
.container-2 .cards .contentBx h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;margin-right: 10px;
}
/* dev card 2 */
.grid-3{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin-left: 50px;
}
.container-3{
  position: relative;
}
.container-3 .cards-3{
  position: relative;
  width: 320px;
  height: 400px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}
.container-3 .cards-3:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient( #151B8D, #357EC7);
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}
.container-3 .cards-3:hover:before{
  clip-path: circle(250px at 80% 20%);
}
.container-3 .cards-3:after{
  content: 'Devs';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255,0.04);
}
.container-3 .cards-3.imgBx-3{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}
.container-3 .cards-3:hover .imgBx-3{
  top: 0%;
  transform: translateY(0%)
}
.container-3 .cards-3 .imgBx-3 img{
  position: absolute;
  top: 10%;
  left: 25%;
  width: 160px;
}
.container-3 .cards-3 .contentBx-3{
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}
.container-3 .cards-3 .contentBx-3 h2{
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  color: #fff;
  
}
.container-3 .cards-3 .contentBx-3 h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;margin-right: 10px;
}
/* card no 3 chuitya panthi*/
.grid-4{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin-left: 50px;
}
.container-4{
  position: relative;
}
.container-4 .cards-4{
  position: relative;
  width: 320px;
  height: 400px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}
.container-4 .cards-4:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient( #151B8D, #357EC7);
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}
.container-4.cards-4:hover:before{
  clip-path: circle(250px at 80% 20%);
}
.container-4 .cards-4:after{
  content: 'Devs';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255,0.04);
}
.container-4.cards-4.imgBx-4{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}
.container-4 .cards-4:hover .imgBx-4{
  top: 0%;
  transform: translateY(0%)
}
.container-4 .cards-4 .imgBx-4 img{
  position: absolute;
  top: 10%;
  left: 25%;
  width: 160px;
}
.container-4 .cards-4 .contentBx-4{
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}
.container-4 .cards-4 .contentBx-4 h2{
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  color: #fff;
  
}
.container-4 .cards-4 .contentBx-4 h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;margin-right: 10px;
}
.contentBx a{
  color: #93329e;
}

/* footer */
.container-f{
  max-width: 1170px;
  margin: auto;
}
.row-2{
  display: flex;
  flex-wrap: wrap;

}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 75px;

}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 9px;
}
.footer-bottom{
  color: #ffffff;
  margin-top: 35px;
}

/* phone code */
@media only screen and (max-width:600px){
  .text{
    display: flex;
    justify-content: center;
    position: relative;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    color: black;
  }
  #usp{
    display: flex;
    padding: 25px;
  }
  #usp {
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    color: black;
  }
  #usp li{
    width: 23%;
    padding: 65px;
    text-align: center;
    list-style-type: none;
}
  #usp li img{
    height: 100px;
    padding: 15px;
    background-color: coral;
    border-radius: 50%;

}
  #usp li h2{
    font-size: 26px;
    font-weight: 400;
}
.t{
  display: flex;
  justify-content: center;
  position: relative;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  color: black;
}
.p-box{
  background: #3395f3;
  position: relative;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 140px;
}
.p-box-2{
  background: #3395f3;
  position: relative;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100px;
  height: 100px;
}
.imgz{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20%;
  left: 30%;
}
.int{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 40px;
  top: -15%;
  left: -15%;
  font-weight: italic,bolder;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}
.t{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 15px;
  top: -5%;
  left: -15%;
  color: rgb(218, 214, 214);
}
.text-p h2{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -5%;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 500;
}
}


@media only screen and (min-width:700px){
  .wrapper{
    display: block;
    display: none;
  }
  .s-container{
    display: block;
    display: none;
  }
  .t{
    display: block;
    display: none;
  }
  .button-3{
    display: block;
    display: none;
  }

  
}

/* Footer repsonsive */
@media(max-width: 767px){
  .footer-col{
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
  }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
  }
}
/* responsive */
@media only screen and (max-width:700px){
  .con{
    display: block;
    display: none;
  }
  .grid{
    display: block;
    display: none;
  }
  .slideshow-container{
    display: block;
    display: none;
  }
  .grid-2{
    display: block;
    display: none;
  }
  .grid-3{
    display: block;
    display: none;
  }
  .grid-4{
    display: block;
    display: none;
  }
  .abtus{
    display: block;
    display: none;
  }
  .ss1{
    display: block;
    display: none;
  }
  #slideshow{
    display: block;
    display: none;
  }
}
@media only screen and (max-width:700px){
    nav ul{
        width: 100%;
        background: linear-gradient(#2e69bb, #1597bb);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
        text-align: left;
    }
    nav ul li{
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;

    }
    nav ul li a{
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      letter-spacing: 1.5px;

    }
    .menu-icon{
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.75s;
    }
    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col-2 .jarvis{
        width: 77%;
    }
    .color-box{
        transform: translateX(75px);
    }
    .col-1{
        flex-basis: 100%;

    }
    .col-1 h2{
        font-size: 35px;
    }
    .col-1 h3{
        font-size: 15px;
    }
}
